<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Sample page, loading results from rethinkdb</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!--<script src="script.js"></script>-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.runtime.min.js"></script>
</head>
<body>

<div>
Sample data!
</div>


<div>
<script id="problem-list" type="text/x-handlebars-template">
{{problemList}}
</script>
</div>

<div>
<script type="text/javascript">
var problems = $('#problem-list').text();
var decoded_problems = $("<div/>").html(problems).text();
var parsed_problems = $.parseJSON(decoded_problems);
$.each(parsed_problems, function(i, problem) {
    console.log(problem.id);
});
</script>
</div>


</body>
</html>
